.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(225, 225, 225, 0.5),
    rgba(225, 225, 225, 0.5)), url(../img/gym2.jpeg);
    background-size: cover;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.registerForm label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: #FF4C29;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.registerLoginButton{
    position: absolute;
    top: 30%;
    right: 20px;
    background-color: #191A19;
    cursor: pointer;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;

}
.registerError{
    color:red;
    margin-top: 10px;
}