:root {
    --main-bg-black-color: #000;
    --main-white: #fff;
    --primary-smoky-black: #180A0A;
    --primary-dark-red: #191919;
    --primary-icon-red-oxid: #541212;
    --primary-red-berry: #950101;
    --primary-nero: #2B2B2B;
    --primary-safty-orange: #FF5F00;
    --primary-flame: #E45826;
    --primary-title-disco: #900C3F;
  }